/******* Reset *******/

* {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	line-height: 100%; }

body {
	background: #FFFFFF;
	height: 100%; }

a:visited {
	color: inherit; }


/****** MAIN *******/

body {
	min-width: 1000px; }

.clearfix {
	clear: both;
	content: ""; }


/******* TIPUS *******/

#tip {
	width: 100%;
	height: 0px;
	overflow: hidden;
	background: #0582F4; }

#tip.tip_expanded {
	height: 350px; }

#tip #tip_wrapper {
	margin: 0 auto 0 auto;
	width: 800px;
	height: 350px; }

#tip #tip_left {
	display: inline-table;
	float: left;
	width: 350px;
	height: 350px; }

#tip #tip_right {
	display: inline-table;
	float: right;
	width: 350px;
	height: 350px; }

#tip #tip_left span, #tip #tip_right span {
	display: table-cell;
	width: 100%;
	height: auto;
	vertical-align: middle; }

#tip h1 {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 26px;
	color: #FFFFFF;
	margin-bottom: 25px; }

#tip p {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	text-align: justify;
	color: #FFFFFF;
	margin-bottom: 15px; }

#tip p:last-child {
	margin-bottom: 0; }

#tip p a {
	color: inherit; }

#tip form {
	width: 100%;
	height: auto; }

#tip label {
	width: 80px;
	padding-top: 8px;
	display: inline-block;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #FFFFFF; }

#tip input, #tip textarea {
	float: right;
	padding: 5px;
	font-family: Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	width: 260px;
	margin-bottom: 10px;
	border: 1px solid #
	;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; }

#tip #tip_send {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #000000;
	display: table;
	float: right;
	width: 260px;
	height: 30px;
	background: #FFFFFF;
	border: 1px solid #0064bf;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-align: center; }

#tip #tip_send:hover {
	cursor: pointer; }


/******* HEADER *******/

#header {
	position: relative;
	width: 100%;
	background: #E4EEF2; }

#header #header_wrapper {
	margin: 0 auto 0 auto;
	width: 1000px;
	height: 200px; }

#header h1.pagetitle {
	position: absolute;
	margin-bottom: 40px;
	bottom: 0;
	font-size: 36px;
	letter-spacing: -1px;
	font-weight: 300;
	font-family: "Open Sans";
	color: #333534; }

#header #menu {
	position: absolute;
	top: 0;
	z-index: 100;
	margin: 0 auto 0 auto;
	width: 1000px;
	height: 75px; }

#header #menu #menu_wrapper {
	z-index: 400;
	width: 100%;
	height: 75px;
	box-shadow: 0 0 1px #D2D0CE;
	background: #FFFFFF; }

#header #menu #menu_wrapper.overlay {
	background-color: transparent; }

#header #menu ul {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	list-style: none; }

#header #menu ul li {
	position: relative;
	display: inline-table;
	float: left;
	height: 75px;
	background: #FFFFFF;
	list-style: none; }

#header #menu ul #logo {
	margin-right: 35px;
	width: 75px;
	background: none; }

#header #menu ul #logo img {
	position: absolute;
	top: -25px;
	left: -30px;
	border: 0; }

#header #menu ul #logo a {
	padding: 0;
	border: none; }

#header #menu ul #logo a:hover {
	background: none; }

#header #menu ul li a {
	display: table-cell;
	vertical-align: middle;
	padding: 0 15px 0 15px;
	height: 75px;
	color: #0064BF;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400; 
	font-size: 18px;
	font-family: 'Open Sans', Arial, sans-serif; }

#header #menu ul li a:hover {
	background: #0064BF;
	color: #FFFFFF; }

#header #menu ul #tipus {
	float: right; }

#header #menu ul #tipus a {
	background: #0582F4;
	color: #FFFFFF;
	padding: 0;
	width: 90px;
	font-weight: 700; }

#header #menu ul #tipus a:hover {
	background: #0064BF; }


/******* CONTENT *******/

#wrapper {
	clear: both;
	margin: 0 auto 0 auto;
	padding: 100px 0 250px 0;
	width: 1000px; }

#wrapper .section {
	display: inline-block;
	width: 100%;
	height: auto;
	clear: both;
	margin-bottom: 50px; }

#wrapper h1 {
	font-size: 32px;
	margin-bottom: 50px;
	font-weight: 300;
	font-family: "Open Sans";
	color: #333534; }

#wrapper h1 a {
	margin-left: 20px; }

#wrapper h2 {
	margin-bottom: 50px;
	float: left;
	color: #333534;
	font-weight: 300;
	font-size: 22px;
	font-family: 'Open Sans', Arial, sans-serif;  }

#wrapper p {
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	font-family: "Open Sans";
	color: #333534;
	padding-left: 150px; }

#wrapper a {
	color: inherit; }

#wrapper a:hover {
	color: #000000; }

#wrapper ul {
	margin-left: 150px;
	padding: 10px 0 10px 0;
	border-left: 5px solid #333534; }

#wrapper ul li {
	list-style: none;
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: 400;
	padding-left: 20px;
	margin-bottom: 15px;
	font-family: "Open Sans";
	color: #333534; }

#wrapper ul li:last-child {
	margin-bottom: 0; }

#wrapper .special {
	color: inherit;
	text-decoration: underline; }

#wrapper .special:hover {
	color: #000000;
	cursor: pointer; }













.episode_archives {
	width: 100%;
	table-layout: fixed; }

.episode_archives .archives_title td {
	padding-top: 20px;
	padding-bottom: 5px;
	font-weight: 700;
	font-size: 18px; }

.episode_archives tr td {
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
	max-width: 20%;
	border: 0px #000000 solid;
	font-size: 16px;
	font-family: Arial, sans-serif !important;
	color: inherit;
	vertical-align: top; }

.episode_archives tr td ul {
	margin: 0 !important;
	padding: 0 !important;
	list-style: none;
	border-left: none !important; }

.episode_archives tr td ul li {
	margin: 0 !important;
	padding: 0 !important;
	display: block;
	list-style: none;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: normal; }

.episode_archives.special_archives tr td ul li {
	float: left;
	display: inline-block;
	width: 20%; }

.episode_archives tr td ul li a {
	display: block;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	height: 100%;
	text-decoration: inherit;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-family: Arial, sans-serif !important; }

.episode_archives tr td ul li a .title {
	clear: both;
	color: #0582F4;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px; }

.episode_archives .date, .episode_archives .duration {
	color: #999999;
	text-decoration: none;
	font-weight: normal;
	font-size: 12px; }

.episode_archives .date {
	float: left; }

.episode_archives .duration {
	float: right; }

.episode_archives tr td ul li a:hover {
	background: #0582F4;
	color: #FFFFFF; }

.episode_archives tr td ul li a:hover .title {
	color: #FFFFFF;
	text-decoration: none; }

.episode_archives tr td ul li:hover .date, .episode_archives tr td ul li:hover .duration {
	color: #FFFFFF; }















#footer {
	width: 100%;
	background: #F8F8F8; }

#footer_wrapper {
	margin: 0 auto 0 auto;
	padding: 50px 0 75px 0;
	width: 900px;
	overflow: auto; }

#footer_logo {
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 50px;
	border: none; }

#footer_logo img {
	opacity: .7;
	border: none; }

#footer_logo:hover img {
	opacity: 1; }

#footer ul {
	display: inline-block;
	float: left;
	width: 200px;
	margin: 0;
	padding: 0;
	list-style: none; }

#footer ul li {
	width: 100px;
	display: inline-block;
	float: left;
	margin: 10px 0 0 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #A8A8A8;
	text-align: left; }

#footer ul li.title {
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	width: 200px;
	clear: both; }

#footer ul li a {
	color: inherit;
	text-decoration: none; }

#footer ul li a:hover {
	text-decoration: underline; }

#footer small {
	float: right;
	margin: 0 0 25px 0;
	text-align: right;
	display: inline-block;
	width: 370px;
	font-family: Verdana, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #A8A8A8; }

#footer small:last-child {
	margin: 0; }