#header.latest, #header.latest #header_wrapper {
	height: 400px !important; }

#header.latest {
	background: url(http://localhost/../img/episode101_latest_image.jpg) center top no-repeat #000000 !important;
	border-bottom: solid 5px #0064BF !important; }

#header.latest #header_wrapper {
	width: 1000px !important;
	padding: 0 !important; }
	
#header.latest #menu_wrapper {
	background-image: url(http://localhost/../img/episode101_latest_overlay.png) !important;
	box-shadow: none !important; }

#header.latest #latest_controls {
	position: absolute;
	bottom: 0;
	width: 1000px;
	height: 400px; }

#header.latest #latest_audio_toggle {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -50px;
	z-index: 100;
	width: 100px;
	height: 100px;
	background: url(http://localhost/../img/latest_toggle.png) no-repeat; }

#header.latest #latest_audio_toggle:hover {
	cursor: pointer;
	background-position-x: right; }

#header.latest #latest_audio_toggle.latest_playing {
	background-position-y: bottom; }

#header.latest h1 {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 100;
	display: table-cell;
	overflow: hidden;
	margin: 0;
	padding: 0;
	max-width: 660px;
	background: #0064BF;
	color: #FFFFFF;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 700;
	font-size: 55px;
	font-family: 'Open Sans', Arial, sans-serif; }

#header.latest h1 a {
	padding: 10px 15px 10px 10px; }

#header.latest h2 {
	position: absolute;
	bottom: -40px;
	left: 0;
	display: inline-block;
	margin: 0;
	padding: 0;
	background: #0064BF;
	color: #FFFFFF;
	font-weight: 300;
	font-size: 20px;
	font-family: 'Open Sans', Arial, sans-serif; }

#header.latest h2 a {
	padding: 10px; }

#header.latest h1 a, #header.latest h2 a {
	display: block;
	color: #FFFFFF;
	text-decoration: none; }

#header.latest h1 a:hover, #header.latest h2 a:hover {
	color: inherit;
	text-decoration: underline; }

#header.latest h3 {
	position: absolute;
	right: 0;
	bottom: 20px;
	z-index: 100;
	display: inline-block;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
	text-align: right;
	text-shadow: 0 0 3px #000000;
	letter-spacing: -1px;
	font-weight: 400;
	font-size: 35px;
	font-family: 'Open Sans', Arial, sans-serif;
	cursor: default;
	pointer-events: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none; }

#header.latest #latest_progress_wrapper {
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	height: 400px;
	cursor: pointer; }

#header.latest #latest_progress_line {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 15;
	width: 5px;
	height: 400px;
	background: #0582F4;
	opacity: 0;
	pointer-events: none; }

#header.latest #latest_progress {
	position: absolute;
	top: 0;
	z-index: 10;
	display: inline-block;
	height: 400px;
	background: url(http://localhost/../img/raster.png) left center repeat rgba(0, 100, 191, 0.25); }

#header.latest #latest_volume {
	position: absolute;
	bottom: -40px;
	right: 0;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	height: 35px;
	background: #0064BF; }

#header.latest #volume_button {
	display: inline-block;
	float: left;
	width: 20px;
	height: 35px;
	background: url(http://localhost/../img/latest_volume.png) center left no-repeat; }

#header.latest #volume_button:hover {
	cursor: pointer; }

#header.latest #volume_button.volume_muted {
	background-position-x: right; }

#header.latest #latest_volume #volume_bar {
	display: inline-block;
	overflow: hidden;
	margin: 10px 0 0 10px;
	width: 100px;
	height: 15px;
	background: #0582F4;
	cursor: pointer; }

#header.latest #latest_volume #volume_bar #volume_slider {
	position: relative;
	top: 0;
	left: 68px;
	width: 15px;
	height: 20px;
	background: #FFFFFF;
	cursor: pointer; }