@import "variables";



/******* HEADER *******/

#header {
	height: 400px;
	background: center top no-repeat $color-steamchatExtraLight;
	border-bottom: solid 5px $color-steamchat; }

#header #headerMenu {
	background-color: transparent;
	box-shadow: none; }

#header.noBackground {
	background-image: none !important; }

#header.noBackground #headerMenu {
	background-color: $color-white !important; }

/******* HEADER - LATEST PLAYER *******/

#header #headerLatest #latestToggle {
	z-index: 10;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
	width: 100px;
	height: 100px; }

#header #headerLatest #latestToggle a {
	opacity: .75;
	display: block;
	width: 100%;
	height: 100%;
	background: url("../img/index/latestToggle.svg") left top no-repeat transparent; }

#header #headerLatest #latestToggle a:hover {
	opacity: 1;
	background-position: right top; }

#header #headerLatest.playing #latestToggle a {
	background-position: left bottom; }

#header #headerLatest.playing #latestToggle a:hover {
	background-position: right bottom; }

#header #headerLatest #latestWrapper {
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -500px;
	width: 1000px;
	height: 400px; }

#header #headerLatest #latestWrapper h1 a,
#header #headerLatest #latestWrapper h2 a {
	display: block;
	width: 100%;
	height: 100%;
	color: $color-white;
	text-decoration: none; }

#header #headerLatest #latestWrapper h1 {
	z-index: 30;
	position: absolute;
	bottom: 0;
	left: 0;
	display: table-cell;
	margin: 0;
	padding: 0;
	max-width: 100%;
	background: $color-steamchat; }

#header #headerLatest #latestWrapper h1 a {
	padding: 10px 15px 10px 10px;
	max-width: 700px;
	font-size: 48px;
	line-height: 48px;
	font-weight: 700;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap; }

#header #headerLatest #latestWrapper h1 a:hover {
	max-width: 100%;
	text-decoration: underline; }

#header #headerLatest #latestWrapper h2 {
	z-index: 10;
	position: absolute;
	bottom: -40px;
	left: 0;
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 20px;
	line-height: 20px;
	font-weight: normal;
	color: $color-white;
	background: $color-steamchat; }

#header #headerLatest #latestWrapper h2 a {
	padding: 10px; }

#header #headerLatest #latestWrapper #latestTime {
	pointer-events: none;
	z-index: 20;
	position: absolute;
	right: 0;
	bottom: 15px;
	color: $color-white;
	font-size: 32px;
	line-height: 32px;
	letter-spacing: -1px;
	text-align: right;
	text-shadow: 0 0 3px $color-black;
	pointer-events: none;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none; }

#header #headerLatest #latestWrapper #latestVolume {
	position: absolute;
	bottom: -40px;
	right: 0;
	width: 150px;
	height: 35px;
	background: $color-steamchat; }

#header #headerLatest #latestWrapper #latestVolume #latestVolume-toggle {
	position: absolute;
	left: 10px;
	top: 10px;
	display: inline-block;
	width: 15px;
	height: 15px; }

#header #headerLatest #latestWrapper #latestVolume #latestVolume-toggle a {
	display: block;
	width: 100%;
	height: 100%;
	background: url("../img/index/latestVolume.svg") left center no-repeat; }

#header #headerLatest #latestWrapper #latestVolume #latestVolume-toggle.muted a {
	background-position: right center; }

#header #headerLatest #latestWrapper #latestVolume #latestVolume-bar {
	position: absolute;
	right: 10px;
	top: 10px;
	display: inline-block;
	overflow: hidden;
	width: 105px;
	height: 15px;
	background: $color-steamchatLight;
	cursor: pointer; }

#header #headerLatest #latestWrapper #latestVolume #latestVolume-bar > div {
	position: relative;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	background: $color-white;
	cursor: pointer; }

#header #headerLatest #latestProgress {
	z-index: 0;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden; }

#header #headerLatest #latestProgress:hover {
	cursor: pointer; }

#header #headerLatest #latestProgress > div {
	pointer-events: none;
	position: absolute;
	top: 0;
	height: 400px; }

#header #headerLatest #latestProgress .cover {
	z-index: 0;
	background: url("../img/index/latestCover.svg") left center repeat rgba(0, 100, 191, 0.25); }

#header #headerLatest #latestProgress .line {
	opacity: 0;
	z-index: 10;
	left: 0;
	width: 5px;
	background-color: $color-steamchat; }

#header #headerLatest #latestProgress:hover .line {
	opacity: 1; }

 #header #headerLatest #latestLoading {
 	display: none;
	z-index: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5); }

 #header #headerLatest #latestLoading .wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 80px;
	margin: -10px 0 0 -40px;
	text-align: center; }

 #header #headerLatest #latestLoading .circle {
	float: left;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	background-color: #FFFFFF;
	border-radius: 100%;
	display: inline-block;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-animation: circle 1.5s infinite ease-in-out both;
	-moz-transition: circle 1.5s infinite ease-in-out both;
	-ms-transition: circle 1.5s infinite ease-in-out both;
	-o-transition: circle 1.5s infinite ease-in-out both;
	animation: circle 1.5s infinite ease-in-out both;
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-ms-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused; }

#header #headerLatest.loading #latestLoading .circle {
	-webkit-animation-play-state: running;
	-moz-animation-play-state: running;
	-ms-animation-play-state: running;
	-o-animation-play-state: running;
	animation-play-state: running;  }

 #header #headerLatest #latestLoading .circle2 {
	-webkit-animation-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	animation-delay: 0.2s; }

 #header #headerLatest #latestLoading .circle3 {
	margin-right: 0;
	-webkit-animation-delay: 0.4s;
	-moz-transition-delay: 0.4s;
	-ms-transition-delay: 0.4s;
	-o-transition-delay: 0.4s;
	animation-delay: 0.4s; }

@-webkit-keyframes circle {
	0% { -webkit-transform: scale(0); }
	40% { -webkit-transform: scale(1.0); }
	80% { -webkit-transform: scale(0); } }

@-moz-keyframes circle {
	0% { -moz-transform: scale(0); }
	40% { -moz-transform: scale(1.0); }
	80% { -moz-transform: scale(0); } }

@-ms-keyframes circle {
	0% { -ms-transform: scale(0); }
	40% { -ms-transform: scale(1.0); }
	80% { -ms-transform: scale(0); } }

@-o-keyframes circle {
	0% { -o-transform: scale(0); }
	40% { -o-transform: scale(1.0); }
	80% { -o-transform: scale(0); } }

@keyframes circle {
	0% { transform: scale(0); }
	40% { transform: scale(1.0); }
	80% { transform: scale(0); } }

#header #headerLatest.loading #latestToggle,
#header #headerLatest.loading #latestWrapper #latestTime,
#header #headerLatest.loading #latestProgress .cover,
#header #headerLatest.loading #latestProgress .line {
	display: none; }

#header #headerLatest.loading #latestLoading {
	display: block; }



/******* EPISODE ARCHIVES *******/

.episodeArchives {
	width: 100%;
	table-layout: fixed; }

.episodeArchives .episodeArchives-header td {
	padding-bottom: 10px;
	font-size: 18px;
	line-height: 18px;
	font-weight: 700; }

.episodeArchives tr td,
.episodeArchives.special tr td ul li {
	width: 20%;
	vertical-align: top; }

.episodeArchives tr td ul,
.episodeArchives tr td ul li {
	list-style: none; }

.episodeArchives tr td ul li {
	position: relative;
	display: block; }

.episodeArchives tr td,
.episodeArchives.special tr td ul li {
	float: left; }

.episodeArchives.special {
	margin-bottom: 50px; }

.episodeArchives tr td ul li .link {
	position: relative;
	z-index: 0;
	display: block;
	padding: 10px;
	width: 100%;
	height: 100%;
	text-decoration: none; }

.episodeArchives tr td ul li .link span {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap; }

.episodeArchives tr td ul li .link .title {
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	color: $color-steamchat; }

.episodeArchives tr td ul li .link .date {
	font-size: 12px;
	line-height: 12px;
	color: #999999; }

.episodeArchives tr td ul li .link:hover {
	background: $color-steamchat; }

.episodeArchives tr td ul li .link:hover span {
	color: $color-white !important; }

.episodeArchives tr td ul li .play {
	position: absolute;
	z-index: 10;
	right: 0;
	top: 0;
	width: 20px;
	height: 100%;
	background: red; }



/******* TRANSITIONS *******/

#header #headerLatest #latestToggle {
	-webkit-transition: opacity .25s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-moz-transition: opacity .25s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-ms-transition: opacity .25s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-o-transition: opacity .25s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	transition: opacity .25s cubic-bezier(0.165, 0.840, 0.440, 1.000); }

#header #headerLatest #latestProgress .cover.smooth {
	-webkit-transition: all .25s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-moz-transition: all .25s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-ms-transition: all .25s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-o-transition: all .25s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	transition: all .25s cubic-bezier(0.165, 0.840, 0.440, 1.000); }

#header #headerLatest #latestProgress .line {
	-webkit-transition: opacity .25s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-moz-transition: opacity .25s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-ms-transition: opacity .25s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-o-transition: opacity .25s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	transition: opacity .25s cubic-bezier(0.165, 0.840, 0.440, 1.000); }