@import "_sass/variables";



/******* CONTENT *******/

#content {
	padding: 100px 20px 100px 20px;
	max-width: 1000px }

#content .left,
#content .right {
	display: inline-block; }

#content .left {
	float: left;
	width: 700px; }

#content h1 {
	text-align: left;
	margin-bottom: 10px; }

#content h2 {
	margin-top: 0;
	color: $color-grey; }

#content p {
	margin-bottom: 60px; }

#content #episodeAudio {
	width: 100%; }

#content .right {
	padding-top: 10px;
	float: right;
	width: 225px; }

#content ul,
#content ul li {
	list-style: none; }

#content ul {
	margin-bottom: 40px; }

#content ul li {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 14px;
	text-align: right; }

#content ul li:last-child {
	margin-bottom: 0; }

#content ul li.title,
#content ul li span {
	color: $color-grey; }

#content ul li.title {
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 16px;
	font-weight: 700;
	text-transform: uppercase; }

#content ul li span {
	margin-right: 5px; }

#content ul li a {
	display: inline-block;
	font-weight: 700;
	color: $color-steamchat;
	text-decoration: none; }

#content ul li a:hover {
	text-decoration: underline; }

#content #episodeTools {
	margin-bottom: 0; }



/******* EPISODE NAV *******/

#content #episodeNav {
	margin-top: 100px;
	margin-bottom: 200px; }

#content #episodeNav,
#content #episodeNav li {
	list-style: none; }

#content #episodeNav li {
	display: inline-table;
	width: 50%;
	height: 70px; }

#content #episodeNav li.prev {
	float: left; }

#content #episodeNav li.next {
	float: right; }

#content #episodeNav li a {
	opacity: .6;
	display: table-cell;
	padding-left: 20px;
	height: 100%;
	color: $color-grey;
	text-align: left;
	text-decoration: none;
	background: url("../img/episode/episodeNav.svg") no-repeat transparent;
	vertical-align: middle; }

#content #episodeNav li.prev a {
	padding-left: 60px;
	background-position: left top; }

#content #episodeNav li.next a {
	padding-right: 60px;
	text-align: right;
	background-position: right bottom; }

#content #episodeNav li a:hover {
	opacity: 1; }

#content #episodeNav li.prev a:hover {
	padding-left: 55px; }

#content #episodeNav li.next a:hover {
	padding-right: 55px; }

#content #episodeNav li span {
	display: block; }

#content #episodeNav li .title {
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 14px; }

#content #episodeNav li a:hover .title {
	text-decoration: underline; }

#content #episodeNav li .date {
	font-size: 12px;
	line-height: 12px; }



/******* TRANSITIONS *******/

#content #episodeNav li a {
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-ms-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out; }



/********* RESPONSIVE *********/

@media (max-width: 800px) {

	#content .left,
	#content .right {
		float: none;
		width: 100%; }

	#content .left {
		margin-bottom: 40px; }

	#content .right {
		padding-top: 0; }

	#content p,
	#content ul {
		margin-bottom: 20px; }

	#content ul::after {
		content: ("");
		display: table;
		clear: both; }

	#content ul li {
		float: left;
		margin-right: 10px;
		margin-bottom: 0;
		text-align: left;
		font-size: 12px;
		line-height: 12px; }

	#content ul li.title,
	#content ul li:last-child {
		margin-right: 0; }

	#content ul li.title {
		float: none;
		font-size: 14px;
		line-height: 14px; }

	#content ul li span {
		margin: 0; }

	#content #episodeNav,
	#content #episodeNav li {
		height: 50px; }

	#content #episodeNav {
		margin-top: 40px;
		margin-bottom: 40px; }

	#content #episodeNav li {
		margin: 0; }

	#content #episodeNav li .title {
		font-size: 10px;
		line-height: 10px; }

	#content #episodeNav li .date {
		font-size: 8px;
		line-height: 8px; }

	#content #episodeNav li a {
		background-image: url("../img/episode/episodeNavSmall.svg"); }

	#content #episodeNav li.prev a,
	#content #episodeNav li.prev a:hover {
		padding-left: 30px; }

	#content #episodeNav li.next a,
	#content #episodeNav li.next a:hover {
		padding-right: 30px; }

}