/node_modules
/public/hot
/public/storage
/public/css
/public/fonts
/public/js
/public/images
/public/favicon.ico
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
