RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

# Misc Page Rewrites
RewriteRule ^specials/$ lib/pages/pageSpecials.php [L]
RewriteRule ^about/$ lib/pages/pageAbout.php [L]

# Episode/Snack Page Rewrites
RewriteRule ^episodes/([0-9]+)/?$ lib/pages/pageEpisode.php?type=episode&number=$1 [L]
RewriteRule ^snacks/([0-9]+)/?$ lib/pages/pageEpisode.php?type=snack&number=$1 [L]

# Episode/Snack Page Singular Redirect
RewriteRule ^episode/(.*)/?$ episodes/$1 [L,R=301]
RewriteRule ^snack/(.*)/?$ snacks/$1 [L,R=301]