/* PLAYER */

.player {
	width: 100%;
	height: 400px;
	border-bottom: 5px solid $color-steamchat;
	background: center center no-repeat $color-steamchatExtraLight;
}

.player > .container {
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -500px;
	width: 1000px;
	height: 400px;
}



/* TOGGLE */

.player > .toggle {
	opacity: .75;
	z-index: 10;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
	width: 100px;
	height: 100px;
	background: url("../../images/index/playerIcons.svg") -60px 0 no-repeat transparent;
}

.player > .toggle:hover {
	opacity: 1;
	background-position: -160px 0;
}

.player.playing > .toggle {
	background-position: -60px -100px;
}

.player.playing > .toggle:hover {
	background-position: -160px -100px;
}



/* TITLE */

.player .title h1,
.player .title h2 {
	display: inline-block;
	position: absolute;
	left: 0;
}

.player .title h1 a,
.player .title h2 a {
	display: block;
	padding: 10px;
	width: 100%;
	height: 100%;
	color: $color-white;
	text-decoration: none;
	background: $color-steamchat;
}

.player .title h1 {
	z-index: 30;
	bottom: 0;
	display: inline-block;
	max-width: 100%;
}

.player .title h1 a {
	padding-bottom: 15px;
	max-width: 700px;
	font-size: 48px;
	line-height: 48px;
	font-weight: 700;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.player .title:hover h1 a {
	max-width: 100%;
	text-decoration: underline;
}

.player .title h2 {
	z-index: 0;
	bottom: -40px;
	font-size: 20px;
	line-height: 20px;
	font-weight: normal;
}



/* TIME */

.player .time {
	pointer-events: none;
	z-index: 20;
	position: absolute;
	right: 0;
	bottom: 15px;
	color: $color-white;
	font-family: "Lato", Verdana, sans-serif;
	font-weight: 400;
	font-size: 32px;
	line-height: 32px;
	letter-spacing: 0px;
	text-align: right;
	text-shadow: 0 0 3px $color-black;
	@include userSelect(none);
}



/* VOLUME */

.player .volume {
	position: absolute;
	bottom: -35px;
	right: 0;
	width: 150px;
	height: 35px;
	background: $color-steamchat;
	@include userSelect(none);
}

.player .volume-toggle {
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	width: 35px;
	height: 35px;
}

.player .volume-toggle:before {
	content: "";
	position: absolute;
	left: 10px;
	top: 10px;
	width: 20px;
	height: 20px;
	background: url("../../images/index/playerIcons.svg") -3px 0 no-repeat;
}

.player .volume .volume-toggle.muted:before {
	background-position: -27px 0;
}

.player .volume .volume-slider {
	position: relative;
	top: 50%;
	margin-left: auto;
	margin-right: 10px;
	display: block;
	@include calc(width, "100% - #{35px + 10px}");
	height: 15px;
	@include transform(translateY(-50%));
}



/* PROGRESS */

.player > .progress {
	z-index: 0;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.player > .progress:hover {
	cursor: pointer;
}

.player > .progress > .progress-cover,
.player > .progress > .progress-line {
	pointer-events: none;
	position: absolute;
	top: 0;
	height: 400px;
}

.player > .progress > .progress-cover {
	z-index: 0;
	background: url("../../images/index/playerCover.svg") left center repeat $color-steamchatCover;
}

.player > .progress:hover > .progress-cover {
	@include transition(width 0.2s $easeStandard);
}

.player > .progress > .progress-line {
	z-index: 10;
	left: 0;
	width: 5px;
	background-color: $color-steamchat;
}
