/********* RESETS *********/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

body {
  min-width: 320px;
  font-family: "Oxygen", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: justify;
  color: #222222;
  background: #FFFFFF;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

aside,
section,
main,
nav,
header,
footer {
  display: block; }

/****** COMMON *******/
.content:after, .content .columns:after {
  content: "";
  display: table;
  clear: both; }

/******* HEADER *******/
#header {
  position: relative;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 0 1px #999999; }

#headerMenu {
  position: relative;
  margin: 0 auto 0 auto;
  width: 100%;
  height: 75px;
  max-width: 1000px; }

#headerMenu #headerLogo {
  z-index: 10;
  position: absolute;
  left: -20px;
  top: -15px;
  width: 105px;
  height: 120px; }

#headerMenu #headerLogo a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../../img/global/globalLogo.svg") center center no-repeat transparent;
  background-size: contain; }

#headerMenu ul,
#headerMenu ul li {
  list-style: none; }

#header #headerMenu ul.menu {
  display: inline-block;
  padding-left: 100px;
  height: 100%;
  background: #FFFFFF; }

#header #headerMenu ul.menu li {
  display: table;
  float: left;
  height: 75px; }

#header #headerMenu ul.menu li a {
  display: table-cell;
  padding: 0 15px 0 15px;
  width: 100%;
  height: 75px;
  color: #0064BF;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle; }

#header #headerMenu ul.menu li a:hover {
  color: #FFFFFF;
  background: #0064BF;
  cursor: pointer; }

#header #headerMenu ul.social {
  float: right;
  height: 100%; }

#header #headerMenu ul.social:after {
  content: "";
  display: table;
  clear: both; }

#header #headerMenu ul.social li {
  float: left;
  display: table;
  width: 40px;
  height: 75px; }

#header #headerMenu ul.social li > a {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle; }

#header #headerMenu ul.social li > a:hover {
  background: #0064BF; }

#header #headerMenu ul.social li > a > .icon-element {
  margin: 0 auto 0 auto;
  display: block;
  width: 24px;
  height: 24px; }

#header #headerMenu ul.social li > a > .icon-element > .layer {
  fill: #007ff2; }

#header #headerMenu ul.social li > a:hover > .icon-element > .layer {
  fill: #FFFFFF; }

/******* CONTENT *******/
.content {
  margin: 0 auto 0 auto;
  padding: 80px 40px 100px 40px;
  width: 100%;
  max-width: 750px; }

.content h1 {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 300;
  line-height: 48px;
  color: #0064BF; }

.content h2 {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px; }

.content p {
  margin-top: 20px;
  text-align: justify; }

.content p a,
.content ul a {
  color: #0064BF; }

.content ul a:hover,
.content p a:hover {
  color: #00498c; }

.content ul,
.content li {
  list-style: none; }

.content #aboutLinks li {
  display: table;
  float: left;
  width: 50%;
  height: 100px; }

.content #aboutLinks li .wrapper {
  display: table-cell;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle; }

.content #aboutLinks li a {
  font-weight: 700;
  line-height: 18px;
  text-decoration: none; }

.content #aboutLinks li a .subtitle {
  display: block;
  padding-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: underline; }

/******* COLUMNS *******/
.content .columns {
  width: 100%; }

.content .columns > .left,
.content .columns > .right {
  max-width: 50%; }

.content .columns > .left {
  float: left;
  padding-right: 10px; }

.content .columns > .right {
  float: right;
  padding-left: 10px; }

/******* SPECIAL LIST *******/
.content .list-special {
  padding-left: 15px;
  border-left: 5px solid #0064BF; }

.content .list-special ul {
  padding-left: 15px;
  margin-bottom: 20px; }

.content .list-special li {
  margin-top: 10px; }

.content .list-special li:first-child {
  margin-bottom: 0; }

/******* FOOTER *******/
#footer {
  width: 100%;
  background: #EEEEEE; }

#footer .wrapper {
  margin: 0 auto 0 auto;
  padding: 50px 20px 75px 20px;
  max-width: 900px;
  overflow: auto; }

#footer-logo {
  opacity: .5;
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 50px;
  background: url("../../img/global/globalLogo.svg") center center no-repeat transparent;
  background-size: contain;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray; }

#footer-logo:hover {
  opacity: .8; }

#footer .left,
#footer .right {
  width: 50%; }

#footer .left {
  float: left; }

#footer .right {
  float: right; }

#footer ul,
#footer li {
  list-style: none; }

#footer .left ul {
  float: left;
  width: 150px; }

#footer li {
  margin-top: 20px;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
  color: #AAAAAA; }

#footer .left li {
  float: left;
  width: 75px; }

#footer .right li {
  text-align: right; }

#footer li.title {
  width: 150px;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  color: #AAAAAA; }

#footer li:first-child {
  margin: 0; }

#footer li a {
  color: inherit; }

#footer li a:hover {
  color: #999999; }
