RewriteEngine on
# RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

# Default Page
DirectoryIndex lib/pages/pageIndex.php

# Misc Page Rewrites
RewriteRule ^specials/?$ lib/pages/pageSpecials.php [L]
RewriteRule ^about/?$ lib/pages/pageAbout.php [L]

# Episode/Snack Page Rewrites
RewriteRule ^episodes/([0-9]+)/?$ lib/pages/pageEpisode.php?type=NORMAL&number=$1 [L]
RewriteRule ^snacks/([0-9]+)/?$ lib/pages/pageEpisode.php?type=SNACK&number=$1 [L]

# Episode/Snack Download Rewrites
RewriteRule ^episodes/([0-9]+)/download/?$ lib/pages/pageEpisode.php?type=NORMAL&number=$1&download [L]
RewriteRule ^snacks/([0-9]+)/download/?$ lib/pages/pageEpisode.php?type=SNACK&number=$1&download [L]

# Episode/Snack Page Singular Redirect
RewriteRule ^episode/(.*)/?$ episodes/$1 [L,R=301]
RewriteRule ^snack/(.*)/?$ snacks/$1 [L,R=301]

AddType image/svg+xml .svg .svgz
AddEncoding gzip svgz