/* PARIALS */

@import "partials/mixins";
@import "partials/constants";
@import "partials/colours";



/* CONTENT */

$transcriptHeight: 70px;
$transcriptBookWidth: 26px;
$transcriptArrowWidth: 22px;
$transcriptButtonWidth: 70px + ($transcriptArrowWidth * 2);
$transcriptButtonHeight: $transcriptHeight - $paddingSmall;

.content .main > h1 {
	margin-bottom: 10px;
}

.content .main > h2 {
	margin-top: 0;
	color: $colour-greyDark;
}

.content .main > .transcript {
	position: relative;
	margin-top: 40px;
	padding: 0 $paddingSmall 0 $paddingSmall;
	height: $transcriptHeight;
	color: #FFFFFF;
	background: $colour-steamchatLight;
	@include boxShadow($paperShadow);
}

.content .main > .transcript > .transcript-icon,
.content .main > .transcript .wrapper,
.content .main > .transcript > .transcript-view > .view-icon {
	top: 50%;
	@include transform(translateY(-50%));
}

.content .main > .transcript > .transcript-icon {
	position: absolute;
	left: $paddingSmall;
	width: $transcriptBookWidth;
}

.content .main > .transcript .wrapper {
	position: relative;
	display: block;
}

.content .main > .transcript > .transcript-text {
	padding-left: $transcriptBookWidth + $paddingSmall;
	padding-right: $transcriptButtonWidth + $paddingSmall;
}

.content .main > .transcript > .transcript-view {
	position: absolute;
	right: $paddingSmall / 2;
	top: 50%;
	display: block;
	margin-top: -($transcriptButtonHeight / 2);
	padding-left: $transcriptArrowWidth;
	padding-right: $transcriptArrowWidth * 2;
	width: $transcriptButtonWidth;
	height: $transcriptButtonHeight;
	color: inherit;
	text-align: left;
	text-decoration: none;
	background: $colour-steamchat;
}

.content .main > .transcript > .transcript-view:hover {
	text-decoration: underline;
	background: $colour-steamchatDark;
}

.content .main > .transcript > .transcript-view > .view-icon {
	position: absolute;
	right: $transcriptArrowWidth;
	width: $transcriptArrowWidth;
}

.content .main > .audio {
	margin-top: 40px;
	width: 100%;
}



/* SIDEBAR */

.content .sidebar {
	padding-top: 10px;
}

.content .sidebar > ul:last-child,
.content .sidebar > ul > li:last-child {
	margin-bottom: 0;
}

.content .sidebar > ul {
	margin-bottom: 40px;
	list-style: none;
}

.content .sidebar > ul > li {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 14px;
	text-align: right;
}

.content .sidebar > ul .title,
.content .sidebar > ul .subtitle {
	color: $colour-greyDark;
}

.content .sidebar > ul .title {
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.content .sidebar > ul .subtitle {
	margin-right: 5px;
}

.content .sidebar > ul > li a {
	text-decoration: none;
}

.content .sidebar > ul > li a:hover {
	text-decoration: underline;
}



/* NAVIGATION */

$navArrowWidth: 30px;
$navArrowHeight: 56px;
$navOffset: 30px;

.content .navigation {
	position: relative;
	margin-top: 100px;
	height: $navArrowHeight;
}

.content .navigation,
.content .navigation > li {
	list-style: none;
}

.content .navigation > li {
	position: absolute;
	top: 0;
	width: 50%;
	height: $navArrowHeight;
}

.content .navigation > li.prev {
	left: 0;
	text-align: left;
}

.content .navigation > li.next {
	right: 0;
	text-align: right;
}

.content .navigation > li a {
	display: block;
	height: 100%;
	color: $colour-greyDark;
	text-decoration: none;
}

.content .navigation > li.prev a {
	padding-left: $navArrowWidth + $navOffset;
}

.content .navigation > li.next a {
	padding-right: $navArrowWidth + $navOffset;
}

.content .navigation > li a:hover {
	opacity: 1;
}

.content .navigation > li a:before {
	content: "";
	position: absolute;
	top: 0;
	display: block;
	width: $navArrowWidth;
	height: $navArrowHeight;
	background: url("../../images/episode/navigation-arrow.svg")
}

.content .navigation > li.prev a:before {
	left: 0;
}

.content .navigation > li.next a:before {
	right: 0;
	@include transform(rotate(180deg));
}

.content .navigation > li .container {
	position: absolute;
	top: 50%;
	@include calc(max-width, "100% - #{$navArrowWidth + $navOffset}");
	@include transform(translateY(-50%));
	@include transition(all 0.2s $easeStandard);
}

.content .navigation > li.prev .container {
	left: $navArrowWidth + $navOffset;
}

.content .navigation > li.next .container {
	right: $navArrowWidth + $navOffset;
}

.content .navigation > li.prev a:hover .container {
	@include transform(translateX(-($navOffset / 2)) translateY(-50%) translateZ(0));
}

.content .navigation > li.next a:hover .container {
	@include transform(translateX($navOffset / 2) translateY(-50%) translateZ(0));
}

.content .navigation > li .label,
.content .navigation > li .small,
.content .navigation > li .title {
	display: block;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.content .navigation > li .label {
	margin-bottom: 10px;
	font-weight: 700;
	text-transform: uppercase;
}

.content .navigation > li .small {
	font-size: 12px;
	line-height: 12px;
}

.content .navigation > li .title {
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 14px;
}

.content .navigation > li a:hover .title {
	text-decoration: underline;
}
