/* PARIALS */

@import "partials/mixins";
@import "partials/constants";
@import "partials/colours";

/* GLOBALS */

@import "partials/resets";
@import "partials/fonts";



/* COMMON */

%clearFix {
	@include clearFix;
}



/* HEADER */

$logoWidth: 105px;
$logoHeight: 120px;
$logoOffsetX: -20px;
$logoOffsetY: -15px;
$listMargin: 10px;
$iconSize: 20px;

.global-header {
	position: relative;
	width: 100%;
	background: $colour-white;
	box-shadow: 0 0 1px $colour-grey;
}

.global-header > .menu {
	position: relative;
	margin: 0 auto 0 auto;
	padding-right: $paddingLarge - $listMargin;
	width: 100%;
	height: 75px;
	max-width: $maxWidthLarge + ($paddingLarge * 2);
}

.global-header > .menu > .logo {
	z-index: 10;
	position: absolute;
	left: $logoOffsetX;
	top: $logoOffsetY;
	width: $logoWidth;
	height: $logoHeight;
}

.global-header > .menu > .logo > a {
	display: block;
	width: 100%;
	height: 100%;
	background: url("../../images/global/globalLogo.svg") center center no-repeat transparent;
	background-size: contain;
}

.global-header > .menu > ul,
.global-header > .menu > ul > li {
	list-style: none;
}

.global-header > .menu > ul {
	height: 100%;
}

.global-header > .menu > ul:after {
	@extend %clearFix;
}

.global-header > .menu > ul > li {
	display: table;
	float: left;
	height: 100%;
}

.global-header > .menu > ul > li > a {
	display: table-cell;
	vertical-align: middle;
	color: $colour-steamchat;
}

.global-header > .menu > ul > li.current > a,
.global-header > .menu > ul > li > a:hover {
	cursor: pointer;
	color: $colour-white;
	background: $colour-steamchat;
}

.global-header > .menu > ul.links {
	display: inline-block;
	padding-left: ($logoWidth + $logoOffsetX) + $listMargin;
	background: $colour-white;
}

.global-header > .menu > ul.links > li > a {
	padding: 0 $listMargin 0 $listMargin;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.global-header > .menu > ul.social {
	float: right;
	margin-right: $listMargin;
}

.global-header > .menu > ul.social > li {
	width: 40px;
}

.global-header > .menu > ul.social > li > a > .icon {
	margin: 0 auto 0 auto;
	display: block;
	width: $iconSize;
	height: auto;
}

.global-header > .menu > ul.social > li > a > .icon > .icon-layer {
	fill: $colour-steamchatLight;
}

.global-header > .menu > ul.social > li > a:hover > .icon > .icon-layer {
	fill: #FFFFFF;
}



/* CONTENT */

$smallSize: 200px;

.content {
	margin: ($paddingLarge * 3) auto 0 auto;
	padding: 0 $paddingLarge ($paddingLarge * 3) $paddingLarge;
	max-width: $maxWidthSmall;
}

.content.wide {
	max-width: $maxWidthLarge + ($paddingLarge * 2);
}

.content h1 {
	margin-bottom: 20px;
	font-size: 32px;
	@include lineHeight(32px);
	color: $colour-steamchat;
}

.content h2 {
	margin-top: 30px;
	font-size: 24px;
	@include lineHeight(24px);
}

.content p {
	margin-top: 20px;
}

.content ul,
.content li {
	list-style: none;
}



/* COLUMNS */

.columns:after {
	@extend %clearFix;
}

.columns > .small {
	position: relative;
	width: $smallSize;
}

.columns > .large {
	@include calc(width, "100% - #{$smallSize + $paddingLarge}");
}

.columns > .even {
	@include calc(width, "50% - #{$paddingSmall}");
}

.columns > .left {
	float: left;
}

.columns > .right {
	float: right;
}




/* SPECIAL LIST */

.content .list-special {
	padding-left: 15px;
	border-left: 5px solid $colour-steamchat;
}

.content .list-special ul {
	padding-left: 15px;
	margin-bottom: 20px;
}

.content .list-special li {
	margin-top: 10px;
}

.content .list-special li:first-child {
	margin-bottom: 0;
}



/* FOOTER */

.global-footer {
	margin: 0 auto 0 auto;
	padding: 0 40px 40px 40px;
	width: 100%;
	max-width: 700px;
}

.global-footer > .logo,
.global-footer > .logo > .logo-element {
	display: block;
	width: 200px;
	height: 60px;
}

.global-footer > .logo {
	margin: 0 auto 40px auto;
}

.global-footer > p {
	margin-top: 10px;
	font-size: 12px;
	@include lineHeight(12px);
	text-align: center;
	color: $colour-grey;
}

.global-footer > p > a {
	color: inherit;
}



/* RESPONSIVE */

@media (max-width: $breakpointLarge) {

	/* CONTENT */

	.content {
		margin-top: $paddingSmall * 3;
		padding: 0 $paddingSmall ($paddingSmall * 3) $paddingSmall;
	}



	/* COLUMNS */

	.columns > .large {
		@include calc(width, "100% - #{$smallSize + $paddingSmall}");
	}

}

@media (max-width: $breakpointSmall) {

	/* CONTENT */


	.content h1 {
		margin-bottom: 0;
		font-size: 20px;
		@include lineHeight(20px);
	}

	.content h2 {
		margin-top: 10px;
		font-size: 18px;
		@include lineHeight(18px);
	}

	.content p {
		margin-top: 10px;
	}



	/* COLUMNS */

	.columns > .large,
	.columns > .small,
	.columns > .even {
		width: 100%;
	}

	.columns > .left,
	.columns > .right {
		float: none;
	}

}