/* PARIALS */

@import "partials/mixins";
@import "partials/constants";
@import "partials/colours";



/* HEADER */

@media (min-width: $breakpointSmall) {

	.global-header,
	.global-header > .menu {
		box-shadow: none;
	}

	.global-header > .menu {
		z-index: 10;
		position: absolute;
		left: 50%;
		top: 0;
		padding-right: 0;
		max-width: $maxWidthLarge;
		background: top center no-repeat $colour-white;
		@include transform(translateX(-50%));
	}

}



/* HEADER PLAYER */

@import "modules/index/player";



/* CONTENT */

.archives > .sidebar,
.archives > .list > .episode {
	border-radius: 2px;
	background: $colour-white;
	@include boxShadow($paperShadow);
}

@media (max-width: $breakpointSmall) {

	.archives > .sidebar,
	.archives > .list > .episode {
		border-radius: 0;
	}

	.archives {
		padding: 0;
	}

}



/* CATEGORIES */

@import "components/categories";



/* SIDEBAR */

@import "modules/index/sidebar";



/* LIST: */

@import "modules/index/list";
