/* PARIALS */

@import "partials/mixins";
@import "partials/constants";
@import "partials/colours";



/* HEADER */

.global-header,
.global-header > .menu {
	background-color: transparent;
	box-shadow: none;
}

.global-header > .menu {
	z-index: 10;
	position: absolute;
	left: 50%;
	top: 0;
	margin: 0 0 0 -500px;
	background: center center no-repeat #FFFFFF;
}



/* HEADER PLAYER */

@import "components/player";




/* CONTENT*/

.content {
	max-width: $maxWidth;
}



/* ARCHIVES */

.archives {
	margin-top: 60px;
}

.archives:after {
	@include clearFix;
}

.archives .sidebar,
.archives .list > .episode {
	border-radius: 2px;
	@include boxShadow("0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)");
	background: #FFFFFF;
}

/* ARCHIVES: categories */

$category-padding-x: 8px;
$category-padding-y: 6px;
$categoryIcon-size: 12px;

.archives .categories .category {
	position: relative;
	display: block;
	padding: $category-padding-y $category-padding-x $category-padding-y (($category-padding-x * 2) + $categoryIcon-size);
	border-radius: 4px;
	font-size: 12px;
	line-height: 12px;
	text-align: left;
	color: #FFFFFF;
	text-decoration: none;
}

.archives .categories .category.interview,
.archives .categories .input:checked + .label .category.interview {
	background: #FF4081;
}

.archives .categories .category.game,
.archives .categories .input:checked + .label .category.game {
	background: #7C4DFF;
}

.archives .categories .category.event,
.archives .categories .input:checked + .label .category.event {
	background: #FF5722;
}

.archives .categories .input + label .category.interview {
	background: #FF80AB;
}

.archives .categories .input + label .category.game {
	background: #B388FF;
}

.archives .categories .input + label .category.event {
	background: #FF9E80;
}

.archives .categories .category:before {
	content: "";
	position: absolute;
	left: $category-padding-x;
	top: 50%;
	margin-top: -($categoryIcon-size / 2);
	display: block;
	width: $categoryIcon-size;
	height: $categoryIcon-size;
	background: center center no-repeat transparent;
	background-size: contain;
}

.archives .categories .category.interview:before {
	background-image: url('../../images/index/index_category_interview.svg');
}

.archives .categories .category.game:before {
	background-image: url('../../images/index/index_category_game.svg');
}

.archives .categories .category.event:before {
	background-image: url('../../images/index/index_category_event.svg');
}

$sidebar-size: 200px;

.archives .sidebar {
	position: relative;
	float: left;
	padding-bottom: 20px;
	width: $sidebar-size;
}

.archives .sidebar.active {
	padding-bottom: 0;
}

.archives .sidebar.sticky {
	position: fixed;
	top: 40px;
	@include calc(max-height, "100% - #{40px * 2}");
	overflow: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.archives .sidebar .wrapper {
	padding: 0 20px 0 20px;
}

.archives .sidebar h2 {
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 18px;
	line-height: 18px;
	font-weight: 500;
}

.archives .sidebar .search {
	padding: 0 10px 0 10px;
	width: 100%;
	height: 35px;
	outline: none;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 5px;
	border: 2px solid $color-greyLight;
	@include transition(border-color 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000));
}

.archives .sidebar .search:hover,
.archives .sidebar .search:focus {
	border-color: $color-steamchatLight;
}

.archives .sidebar .search.active {
	border-color: $color-steamchat;
}

.archives .sidebar .filter li {
	margin-bottom: 5px;
}

.archives .sidebar .filter li:last-child {
	margin-bottom: 0;
}

$input-size: 20px;

.archives .sidebar .filter li .input {
	display: none;
}

.archives .sidebar .filter li .input + .label {
	position: relative;
	padding-left: $input-size + 5px;
	display: block;
	width: 100%;
}

.archives .sidebar .filter li .input + .label:hover {
	cursor: pointer;
}

.archives .sidebar .filter li .input + .label:before,
.archives .sidebar .filter li .input + .label:after {
	content: "";
	display: block;
	position: absolute;
}

.archives .sidebar .filter li .input + .label:before,
.archives .sidebar .filter li .input:checked + .label:after {
	@include transition(all 0.25s cubic-bezier(0.175, 0.885, 0.320, 1.275));
}

.archives .sidebar .filter li .input + .label:before {
	z-index: 0;
	left: 0;
	top: 50%;
	margin-top: -($input-size / 2);
	width: $input-size;
	height: $input-size;
	border: 2px solid $color-grey;
	background: #FFFFFF;
}

.archives .sidebar .filter li .input:checked + .label:before {
	border-color: $color-steamchat;
	background: $color-steamchat;
}

.archives .sidebar .filter li .input + .label:hover:before {
	border-color: $color-steamchatExtraLight;
}

.archives .sidebar .filter li .input:checked + .label:hover:before {
	border-color: $color-steamchatLight;
	background: $color-steamchatLight;
}

.archives .sidebar .filter li .input + .label:after {
	opacity: 0;
	z-index: 10;
	position: absolute;
	top: 50%;
	display: block;
}

.archives .sidebar .filter li .input:checked + .label:after {
	opacity: 1;
	@include transform(scale(1) translateZ(0) !important);
}

$checkbox-size: $input-size - 8px;

.archives .sidebar .filter.years li .input + .label {
	color: $color-grey;
	@include transition(color 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000));
}

.archives .sidebar .filter.years li .input:checked + .label {
	color: inherit;
}

.archives .sidebar .filter.years li .input + .label:before {
	border-radius: 5px;
}

.archives .sidebar .filter.years li .input:disabled + .label:before {
	border-color: $color-greyLight !important;
	background: $color-greyLight !important;
}

.archives .sidebar .filter.years li .input + .label:after {
	left: ($input-size - $checkbox-size) / 2;
	margin-top: -($checkbox-size / 2);
	width: $checkbox-size;
	height: $checkbox-size;
	background: url("../../images/index/index_checkbox.svg") center center no-repeat;
	background-size: contain;
	@include transform(scale(0.25) translateZ(0));
}

/* ARCHIVES: SIDEBAR: RADIO */

.archives .sidebar .filter.categories li .input + .label:before {
	border-radius: 50%;
}

$radio-size: $input-size - 10px;

.archives .sidebar .filter.categories li .input + .label:after {
	left: ($input-size - $radio-size) / 2;
	margin-top: -($radio-size / 2);
	width: $radio-size;
	height: $radio-size;
	border-radius: 50%;
	background: #FFFFFF;
	@include transform(scale(0) translateZ(0));
}

.archives .sidebar .count,
.archives .sidebar .reset {
	display: none;
	width: 100%;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
}

.archives .sidebar.active .count,
.archives .sidebar.active .reset {
	display: block;
}

.archives .sidebar.active .count {
	margin-top: 20px;
	color: darken($color-grey, 15%);
}

.archives .sidebar .reset {
	margin-top: 5px;
	padding: 10px 20px 10px 20px;
}

.archives .sidebar .reset:hover {
	background: #F1F1F1;
}

$playButton-size: 35px;
$playButton-icon-size: 12px;

.archives .list {
	float: right;
	@include calc(width, "100% - #{$sidebar-size + 40px}");
}

.archives .list > .episode {
	margin-bottom: 20px;
	padding: 20px;
	width: 100%;
}

.archives .list > .episode:last-child {
	margin-bottom: 0;
}

.archives .episode {
	position: relative;
}

.archives .episode.filter-year,
.archives .episode.filter-description,
.archives .episode.filter-category {
	display: none;
}

.archives .episode .play {
	position: absolute;
	right: 20px;
	top: 20px;
	width: $playButton-size;
	height: $playButton-size;
	border-radius: 50%;
	background-color: $color-steamchatLight;
	@include boxShadow("0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)");
}

.archives .episode .play:hover {
	background-color: $color-steamchat;
}

.archives .episode .play:before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	display: block;
	margin-left: -($playButton-icon-size / 2);
	margin-top: -($playButton-icon-size / 2);
	width: $playButton-icon-size;
	height: $playButton-icon-size;
	background: url("../../images/index/index_archives_play.svg") center 0px no-repeat transparent;
}

.archives .episode .play.playing:before {
	background-position: center -$playButton-icon-size;
}

.archives .episode .play:hover:before {
	@include transform(scale(1.2));
}

.archives .episode > h2 {
	margin-top: 0;
	margin-bottom: 5px;
	padding-right: $playButton-size + 20px;
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	color: $color-steamchat;
}

.archives .episode > p > .release {
	color: $color-grey;
}

.archives .episode > p > .release:after {
	content: "–";
	display: inline;
	padding: 0 5px 0 5px;
}

.archives .episode > h3 {
	font-size: 14px;
	line-height: 14px;
	color: $color-grey;
}

.archives .episode > p {
	margin-top: 10px;
	font-size: 14px;
	line-height: 14px + (14px / 2);
}

.archives .episode > .categories {
	margin-top: 10px;
	list-style: none;
}

.archives .episode > .categories:after {
	@include clearFix;
}

.archives .episode > .categories > li {
	margin-right: 10px;
	float: left;
}

.archives .episode > .categories > li:last-child {
	margin-right: 0;
}

.archives .list .no-results {
	display: none;
	margin: 0 auto 0 auto;
	padding-top: 100px;
	font-size: 32px;
	line-height: 32px;
	text-align: center;
	color: $color-greyLight;
}

.archives .list .no-results,
.archives .list .no-results a {
	color: $color-greyLight;
}

.archives.empty .list .no-results {
	display: block;
}

.archives.empty .list .no-results a:hover {
	color: $color-grey;
}
