@import "_sass/common";



/****** COMMON *******/

%clearFix {
	@include clearFix;
}



/******* HEADER *******/

#header,
#headerMenu {
	background-color: transparent;
	box-shadow: none;
}

#header {
	height: 400px;
	background: center top no-repeat $color-steamchatExtraLight;
}

#headerMenu {
	z-index: 10;
	position: absolute;
	left: 50%;
	top: 0;
	margin: 0 0 0 -500px;
}

#header.noBackground {
	background-image: none !important;
}

#header.noBackground #headerMenu {
	background-color: $color-white !important;
}

/******* HEADER - PLAYER *******/

#headerPlayer {
	border-bottom: 5px solid $color-steamchat;
}

#playerToggle {
	opacity: .75;
	z-index: 10;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
	width: 100px;
	height: 100px;
	background: url("../../images/index/playerIcons.svg") -60px 0 no-repeat transparent;
}

#playerToggle:hover {
	opacity: 1;
	background-position: -160px 0;
}

#headerPlayer.playing #playerToggle {
	background-position: -60px -100px;
}

#headerPlayer.playing #playerToggle:hover {
	background-position: -160px -100px;
}

#playerWrapper {
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -500px;
	width: 1000px;
	height: 400px;
}

#playerTitle h1,
#playerTitle h2 {
	display: inline-block;
	position: absolute;
	left: 0;
}

#playerTitle h1 a,
#playerTitle h2 a {
	display: block;
	padding: 10px;
	width: 100%;
	height: 100%;
	color: $color-white;
	text-decoration: none;
	background: $color-steamchat;
}

#playerTitle h1 {
	z-index: 30;
	bottom: 0;
	display: inline-block;
	max-width: 100%;
}

#playerTitle h1 a {
	padding-bottom: 15px;
	max-width: 700px;
	font-size: 48px;
	line-height: 48px;
	font-weight: 700;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#playerTitle:hover h1 a {
	max-width: 100%;
	text-decoration: underline;
}

#playerTitle h2 {
	z-index: 0;
	bottom: -40px;
	font-size: 20px;
	line-height: 20px;
	font-weight: normal;
}

#playerTime {
	pointer-events: none;
	z-index: 20;
	position: absolute;
	right: 0;
	bottom: 15px;
	color: $color-white;
	font-family: "Lato", Verdana, sans-serif;
	font-weight: 400;
	font-size: 32px;
	line-height: 32px;
	letter-spacing: 0px;
	text-align: right;
	text-shadow: 0 0 3px $color-black;
	@include userSelect (none);
}

#header.noBackground #playerTime {
	text-shadow: none;
}

#playerVolume {
	display: table;
	position: absolute;
	bottom: -40px;
	right: 0;
	width: 150px;
	height: 35px;
	background: $color-steamchat;
	@include userSelect (none);
}

#playerVolume .wrapper {
	display: table-cell;
	padding: 0 10px 0 10px;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

#playerVolume-toggle {
	position: absolute;
	left: 10px;
	top: 10px;
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url("../../images/index/playerIcons.svg") -3px 0 no-repeat;
}

#playerVolume.muted #playerVolume-toggle {
	background-position: -27px 0;
}

#playerVolume-slider {
	margin-left: auto;
	display: block;
	width: 105px;
	height: 15px;
}

#playerProgress {
	z-index: 0;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#playerProgress:hover {
	cursor: pointer;
}

#headerPlayer.int #playerProgress:hover {
	cursor: default;
}

#playerProgress > div {
	pointer-events: none;
	position: absolute;
	top: 0;
	height: 400px;
}

#playerProgress .cover {
	z-index: 0;
	background: url("../../images/index/playerCover.svg") left center repeat $color-steamchatCover;
}

#playerProgress .line {
	opacity: 0;
	z-index: 10;
	left: 0;
	width: 5px;
	background-color: $color-steamchat;
}

#playerProgress:hover .line {
	opacity: 1;
}

#playerLoading {
	pointer-events: none;
	opacity: 0;
	z-index: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
}

 #playerLoading .wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 80px;
	margin: -10px 0 0 -40px;
	text-align: center;
}

 #playerLoading .circle {
	float: left;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	background-color: #FFFFFF;
	border-radius: 100%;
	display: inline-block;
	@include transform (scale(0));
	@include animation (circle 1.5s infinite ease-in-out both);
	@include animationPlayState (paused);
}

#headerPlayer.loading #playerLoading .circle {
	@include animationPlayState (running);
}

 #playerLoading .circle2 {
 	@include animationDelay (0.2s);
}

 #playerLoading .circle3 {
	margin-right: 0;
	@include animationDelay (0.4s);
}

@-webkit-keyframes circle {
	0% { -webkit-transform: scale(0); }
	40% { -webkit-transform: scale(1.0); }
	80% { -webkit-transform: scale(0); }
}

@-moz-keyframes circle {
	0% { -moz-transform: scale(0); }
	40% { -moz-transform: scale(1.0); }
	80% { -moz-transform: scale(0); }
}

@-ms-keyframes circle {
	0% { -ms-transform: scale(0); }
	40% { -ms-transform: scale(1.0); }
	80% { -ms-transform: scale(0); }
}

@-o-keyframes circle {
	0% { -o-transform: scale(0); }
	40% { -o-transform: scale(1.0); }
	80% { -o-transform: scale(0); }
}

@keyframes circle {
	0% { transform: scale(0); }
	40% { transform: scale(1.0); }
	80% { transform: scale(0); }
}

#headerPlayer.loading #playerToggle,
#headerPlayer.int #playerTime,
#headerPlayer.loading #playerTime,
#headerPlayer.int #playerProgress .cover,
#headerPlayer.loading #playerProgress .cover,
#headerPlayer.int #playerProgress .line,
#headerPlayer.loading #playerProgress .line,
#headerPlayer.int #playerVolume {
	display: none !important;
}

#headerPlayer.loading #playerLoading {
	pointer-events: auto;
	opacity: 1;
}

/******* TRANSITIONS *******/

#playerToggle,
#playerProgress .line {
	@include transition (opacity .25s cubic-bezier(0.165, 0.840, 0.440, 1.000));
}

#playerLoading {
	@include transition (opacity .5s cubic-bezier(0.165, 0.840, 0.440, 1.000));
}

#playerProgress .cover.smooth {
	@include transition (all .25s cubic-bezier(0.165, 0.840, 0.440, 1.000));
}


















/******* CONTENT *******/

.content {
	max-width: 1400px;
}



/******* ARCHIVES *******/

/* ARCHIVES: COMMON */

.archives {
	margin-top: 60px;
}

.archives:after {
	@include clearFix;
}

.archives .sidebar,
.archives .list > .episode {
	border-radius: 2px;
	@include boxShadow ("0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)");
	background: #FFFFFF;
}

/* ARCHIVES: TYPES */

$type-padding-x: 8px;
$type-padding-y: 6px;
$typeIcon-size: 12px;

.archives .types .type {
	position: relative;
	display: block;
	padding: $type-padding-y $type-padding-x $type-padding-y (($type-padding-x * 2) + $typeIcon-size);
	border-radius: 4px;
	font-size: 12px;
	line-height: 12px;
	text-align: left;
	color: #FFFFFF;
	text-decoration: none;
}

.archives .types .type.interview,
.archives .types .input:checked + .label .type.interview {
	background: #FF4081;
}

.archives .types .type.game,
.archives .types .input:checked + .label .type.game {
	background: #7C4DFF;
}

.archives .types .type.event,
.archives .types .input:checked + .label .type.event {
	background: #FF5722;
}

.archives .types .input + label .type.interview {
	background: #FF80AB;
}

.archives .types .input + label .type.game {
	background: #B388FF;
}

.archives .types .input + label .type.event {
	background: #FF9E80;
}

.archives .types .type:before {
	content: "";
	position: absolute;
	left: $type-padding-x;
	top: 50%;
	margin-top: -($typeIcon-size / 2);
	display: block;
	width: $typeIcon-size;
	height: $typeIcon-size;
	background: center center no-repeat transparent;
	background-size: contain;
}

.archives .types .type.interview:before {
	background-image: url('../../images/index/index_type_interview.svg');
}

.archives .types .type.game:before {
	background-image: url('../../images/index/index_type_game.svg');
}

.archives .types .type.event:before {
	background-image: url('../../images/index/index_type_event.svg');
}



/* ARCHIVES: SIDEBAR */

$sidebar-size: 200px;

.archives .sidebar {
	position: relative;
	float: left;
	padding-bottom: 20px;
	width: $sidebar-size;
}

.archives .sidebar.active {
	padding-bottom: 0;
}

.archives .sidebar.sticky {
	position: fixed;
	top: 40px;
	@include calc (max-height, "100% - #{40px * 2}");
	overflow: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.archives .sidebar .wrapper {
	padding: 0 20px 0 20px;
}

.archives .sidebar h2 {
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 18px;
	line-height: 18px;
	font-weight: 500;
}

.archives .sidebar .search {
	padding: 0 10px 0 10px;
	width: 100%;
	height: 35px;
	outline: none;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 5px;
	border: 2px solid $color-greyLight;
	@include transition (border-color 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000));
}

.archives .sidebar .search:hover,
.archives .sidebar .search:focus {
	border-color: $color-steamchatLight;
}

.archives .sidebar .search.active {
	border-color: $color-steamchat;
}

.archives .sidebar .filter li {
	margin-bottom: 5px;
}

.archives .sidebar .filter li:last-child {
	margin-bottom: 0;
}

$input-size: 20px;

.archives .sidebar .filter li .input {
	display: none;
}

.archives .sidebar .filter li .input + .label {
	position: relative;
	padding-left: $input-size + 5px;
	display: block;
	width: 100%;
}

.archives .sidebar .filter li .input + .label:hover {
	cursor: pointer;
}

.archives .sidebar .filter li .input + .label:before,
.archives .sidebar .filter li .input + .label:after {
	content: "";
	display: block;
	position: absolute;
}

.archives .sidebar .filter li .input + .label:before,
.archives .sidebar .filter li .input:checked + .label:after {
	@include transition (all 0.25s cubic-bezier(0.175, 0.885, 0.320, 1.275));
}

.archives .sidebar .filter li .input + .label:before {
	z-index: 0;
	left: 0;
	top: 50%;
	margin-top: -($input-size / 2);
	width: $input-size;
	height: $input-size;
	border: 2px solid $color-grey;
	background: #FFFFFF;
}

.archives .sidebar .filter li .input:checked + .label:before {
	border-color: $color-steamchat;
	background: $color-steamchat;
}

.archives .sidebar .filter li .input + .label:hover:before {
	border-color: $color-steamchatExtraLight;
}

.archives .sidebar .filter li .input:checked + .label:hover:before {
	border-color: $color-steamchatLight;
	background: $color-steamchatLight;
}

.archives .sidebar .filter li .input + .label:after {
	opacity: 0;
	z-index: 10;
	position: absolute;
	top: 50%;
	display: block;
}

.archives .sidebar .filter li .input:checked + .label:after {
	opacity: 1;
	@include transform (scale(1) translateZ(0) !important);
}

/* ARCHIVES: SIDEBAR: CHECKBOXES */

$checkbox-size: $input-size - 8px;

.archives .sidebar .filter.year li .input + .label {
	color: $color-grey;
	@include transition (color 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000));
}

.archives .sidebar .filter.year li .input:checked + .label {
	color: inherit;
}

.archives .sidebar .filter.year li .input + .label:before {
	border-radius: 5px;
}

.archives .sidebar .filter.year li .input:disabled + .label:before {
	border-color: $color-greyLight !important;
	background: $color-greyLight !important;
}

.archives .sidebar .filter.year li .input + .label:after {
	left: ($input-size - $checkbox-size) / 2;
	margin-top: -($checkbox-size / 2);
	width: $checkbox-size;
	height: $checkbox-size;
	background: url("../../images/index/index_checkbox.svg") center center no-repeat;
	background-size: contain;
	@include transform (scale(0.25) translateZ(0));
}

/* ARCHIVES: SIDEBAR: RADIO */

.archives .sidebar .filter.types li .input + .label:before {
	border-radius: 50%;
}

$radio-size: $input-size - 10px;

.archives .sidebar .filter.types li .input + .label:after {
	left: ($input-size - $radio-size) / 2;
	margin-top: -($radio-size / 2);
	width: $radio-size;
	height: $radio-size;
	border-radius: 50%;
	background: #FFFFFF;
	@include transform (scale(0) translateZ(0));
}

.archives .sidebar .count,
.archives .sidebar .reset {
	display: none;
	width: 100%;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
}

.archives .sidebar.active .count,
.archives .sidebar.active .reset {
	display: block;
}

.archives .sidebar.active .count {
	margin-top: 20px;
	color: darken($color-grey, 15%);
}

.archives .sidebar .reset {
	margin-top: 5px;
	padding: 10px 20px 10px 20px;
}

.archives .sidebar .reset:hover {
	background: #F1F1F1;
}

/* ARCHIVES: EPISODES */

$playButton-size: 35px;
$playButton-icon-size: 12px;

.archives .list {
	float: right;
	@include calc (width, "100% - #{$sidebar-size + 40px}");
}

.archives .list > .episode {
	margin-bottom: 20px;
	padding: 20px;
	width: 100%;
}

.archives .list > .episode:last-child {
	margin-bottom: 0;
}

.archives .episode {
	position: relative;
}

.archives .episode.filter-year,
.archives .episode.filter-description {
	display: none;
}

.archives .episode .play {
	position: absolute;
	right: 20px;
	top: 20px;
	width: $playButton-size;
	height: $playButton-size;
	border-radius: 50%;
	background-color: $color-steamchatLight;
	@include boxShadow("0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)");
}

.archives .episode .play:hover {
	background-color: $color-steamchat;
}

.archives .episode .play:before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	display: block;
	margin-left: -($playButton-icon-size / 2);
	margin-top: -($playButton-icon-size / 2);
	width: $playButton-icon-size;
	height: $playButton-icon-size;
	background: url("../../images/index/index_archives_play.svg") center 0px no-repeat transparent;
}

.archives .episode .play.playing:before {
	background-position: center -$playButton-icon-size;
}

.archives .episode .play:hover:before {
	@include transform (scale(1.2));
}

.archives .episode > h2 {
	margin-top: 0;
	margin-bottom: 5px;
	padding-right: $playButton-size + 20px;
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	color: $color-steamchat;
}

.archives .episode > p > .release {
	color: $color-grey;
}

.archives .episode > p > .release:after {
	content: "–";
	display: inline;
	padding: 0 5px 0 5px;
}

.archives .episode > h3 {
	font-size: 14px;
	line-height: 14px;
	color: $color-grey;
}

.archives .episode > p {
	margin-top: 10px;
	font-size: 14px;
	line-height: 14px + (14px / 2);
}

.archives .episode > .types {
	margin-top: 10px;
	list-style: none;
}

.archives .episode > .types:after {
	@include clearFix;
}

.archives .episode > .types > li {
	margin-right: 10px;
	float: left;
}

.archives .episode > .types > li:last-child {
	margin-right: 0;
}

.archives .list .no-results {
	display: none;
	margin: 0 auto 0 auto;
	padding-top: 100px;
	font-size: 32px;
	line-height: 32px;
	text-align: center;
	color: $color-greyLight;
}

.archives .list .no-results,
.archives .list .no-results a {
	color: $color-greyLight;
}

.archives.empty .list .no-results {
	display: block;
}

.archives.empty .list .no-results a:hover {
	color: $color-grey;
}