/* TRANSITIONS */

$easeStandard: cubic-bezier(0.4, 0.0, 0.2, 1);
$easeDeceleration: cubic-bezier(0.0, 0.0, 0.2, 1);
$easeAcceleration: cubic-bezier(0.4, 0.0, 1, 1);
$easeSharp: cubic-bezier(0.4, 0.0, 0.6, 1);

/* SIZES */

$maxWidthLarge: 1000px;
$maxWidthSmall: 750px;
$paddingLarge: 40px;
$paddingSmall: 20px;
