@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:500|Roboto:500,700");

h1,
h2,
h3 {
	font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Verdana, sans-serif;
}

h1,
h1 > a,
h2,
h2 > a {
	font-weight: 700;
}

h3,
h3 > a {
	font-weight: 500;
}
