.global-footer {
	margin: 0 auto 0 auto;
	padding: 0 $paddingLarge $paddingLarge $paddingLarge;
	width: 100%;
	max-width: 700px;
}

.global-footer > p {
	margin-bottom: 10px;
	font-size: 12px;
	@include lineHeight(12px);
	text-align: center;
	color: $colour-grey;
}

.global-footer > p > a {
	color: inherit;
}

@media (max-width: $breakpointSmall) {

	.global-footer {
		padding: 0 $paddingSmall $paddingSmall $paddingSmall;
	}

	.global-footer > p {
		margin-bottom: 5px;
		font-size: 8px;
		@include lineHeight(8px);
	}

}
