$headerHeight: 75px;
$logoWidth: 105px;
$logoHeight: 120px;
$logoOffsetX: -20px;
$logoOffsetY: -15px;
$listMargin: 10px;
$socialSize: 40px;
$socialIconSize: 20px;

.global-header {
	position: relative;
	width: 100%;
	height: $headerHeight;
	background: $colour-white;
	box-shadow: 0 0 1px $colour-grey;
}

.global-header > .menu {
	position: relative;
	margin: 0 auto 0 auto;
	padding-right: $paddingLarge;
	width: 100%;
	height: $headerHeight;
	max-width: $maxWidthLarge + ($paddingLarge * 2);
}

.global-header > .menu > .logo {
	z-index: 20;
	position: absolute;
	left: $logoOffsetX;
	top: $logoOffsetY;
	width: $logoWidth;
	height: $logoHeight;
}

.global-header > .menu > .logo > a {
	display: block;
	width: 100%;
	height: 100%;
	background: url("../../images/global/logo.svg") center center no-repeat transparent;
	background-size: contain;
}

.global-header > .menu > .nav {
	height: 100%;
}

.global-header > .menu ul,
.global-header > .menu ul > li {
	list-style: none;
}

.global-header > .menu ul {
	height: 100%;
}

.global-header > .menu ul:after {
	@extend %clearFix;
}

.global-header > .menu ul > li {
	display: table;
	float: left;
	height: 100%;
}

.global-header > .menu ul > li > a {
	display: table-cell;
	vertical-align: middle;
	color: $colour-steamchat;
}

.global-header > .menu ul > li.current > a,
.global-header > .menu ul > li > a:hover {
	cursor: pointer;
	color: $colour-white;
	background: $colour-steamchat;
}

.global-header > .menu ul.links {
	display: inline-block;
	padding-left: ($logoWidth + $logoOffsetX) + $listMargin;
	background: $colour-white;
}

.global-header > .menu ul.links > li > a {
	padding: 0 $listMargin 0 $listMargin;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.global-header > .menu ul.social {
	float: right;
}

.global-header > .menu ul.social > li {
	width: $socialSize;
}

.global-header > .menu ul.social > li > a > .icon {
	margin: 0 auto 0 auto;
	display: block;
	width: $socialIconSize;
	height: auto;
}

.global-header > .menu ul.social > li > a > .icon > .icon-layer {
	fill: $colour-steamchatLight;
}

.global-header > .menu ul.social > li > a:hover > .icon > .icon-layer {
	fill: $colour-white;
}

.global-header > .menu > .hamburger {
	display: none;
}

@media (max-width: $breakpointLarge) {

	.global-header > .menu {
		padding-right: $paddingSmall;
	}

}

@media (max-width: $breakpointSmall) {

	$headerHeight: 50px;
	$logoWidth: 66px;
	$logoHeight: 75px;

	$socialSize: 50px;

	.global-header {
		height: $headerHeight;
	}

	.global-header > .menu {
		padding-right: 0;
		height: $headerHeight;
	}

	.global-header > .menu > .logo {
		position: absolute;
		left: 50%;
		top: -10px;
		margin-left: -($logoWidth / 2);
		width: $logoWidth;
		height: $logoHeight;
	}

	.global-header > .menu > .nav {
		opacity: 0;
		overflow: hidden;
		z-index: 100;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 0%;
		background: rgba($colour-steamchat, 0.85);
		@include transition(all 0.2s $easeStandard);
	}

	.global-header > .menu.open > .nav {
		opacity: 1;
		height: 100%;
		@include transitionDuration(0.4s);
	}

	.global-header > .menu ul {
		position: absolute;
		left: 0;
		padding: 0 !important;
		width: 100%;
		height: auto;
		background: transparent !important;
	}

	.global-header > .menu ul.links {
		margin-top: -$socialSize;
		top: 50%;
		@include transform(translateY(-50%));
	}

	.global-header > .menu ul.links > li {
		opacity: 0;
		float: none;
		margin-bottom: $paddingSmall / 2;
		width: 100%;
		@include transform(translateY(-$paddingLarge) translateZ(0));
		@include transition(all 0.2s $easeStandard);
	}

	.global-header > .menu ul.links > li:last-child {
		margin-bottom: 0;
	}

	@for $i from 1 through 3 {

		.global-header > .menu.open ul.links > li:nth-child(#{$i}) {
			@include transitionDelay(#{0.05s * $i});
		}

	}

	.global-header > .menu.open ul.links > li {
		opacity: 1;
		@include transform(translateY(0px) translateZ(0));
		@include transitionDuration(0.6s);
	}

	.global-header > .menu ul.links > li > a {
		padding: $paddingSmall;
		font-size: 22px;
		line-height: 22px;
		color: $colour-white;
	}

	.global-header > .menu ul.links > li.current > a,
	.global-header > .menu ul.links > li > a:hover {
		color: $colour-steamchat;
		background: $colour-white;
	}

	.global-header > .menu ul.social {
		left: 50%;
		bottom: $paddingSmall;
		float: none;
		margin-left: -(($socialSize * 4) / 2);
		width: $socialSize * 4;
		height: $socialSize;
	}

	.global-header > .menu ul.social > li {
		width: $socialSize;
	}

	.global-header > .menu ul.social > li > a > .icon > .icon-layer {
		fill: $colour-white !important;
	}

	$hamburgerSize: 24px;

	.global-header > .menu > .hamburger {
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		width: $headerHeight;
		height: $headerHeight;
	}

	.global-header > .menu.open > .hamburger {
		z-index: 200;
		position: fixed;
	}

	.global-header > .menu > .hamburger:before {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -($hamburgerSize / 2);
		margin-top: -($hamburgerSize / 2);
		width: $hamburgerSize;
		height: $hamburgerSize;
		background: url("../../images/global/hamburger-open.svg") center center no-repeat transparent;
		background-size: contain;
	}

	.global-header > .menu.open > .hamburger:before {
		background-image: url("../../images/global/hamburger-close.svg");
	}

}
